//all pages padding,margin, width


.size50{
  height:50px;
  width:50px;
}
.paddingbottom0{
  padding-bottom:0px !important;
}
.paddingtop64{
  padding-top:64px !important;
}
.paddingtop32{
  padding-top:32px !important;
}
.width100{
  width:100%;
}

.height45{
  height:45px;
}

i.padding10::before{
    padding-right:10px;
}

i.padding4::before{
  padding-right:4px;
}

i.padding7::before{
  padding-right:7px;
}

.margin.bottom6{
  margin-bottom:6px;
  }

.block-17 form .fields .one-third.width.percentage100 {
  width:100% !important;
}
.smallfontsize{
  font-size: 13px;
}

.block-6.nomargin {
  margin-bottom: 0px;
}

.block-6 .media-body .heading {
  font-size: 18px;
  font-weight: normal;
}

.site-section.padding0 {
  padding: 0px;
}

.form-wrap {
  position: relative;
  margin-bottom: 3em;
  z-index: 2;
  padding: 20px;
  background: #fff !important;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  margin-top: -100px;
  color: dimgray !important;
  line-height:1.5;
}
// color of button and words
.block-22 {
  background: #51A4FB;
}
.text-primary {
  color: #51A4FB !important;
}
.btn-primary {
  color: #fff;
  background-color: #51A4FB;
  border-color: #51A4FB;
}
a {
  color: #51A4FB;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.site-hero .btn {
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2) !important;
  background:#51A4FB !important;
  border: 2px solid transparent !important;
  color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  color: #000 !important;
  background: none !important;
  border: 2px solid #51A4FB !important; }
.btn.btn-primary-white {
border: 2px solid transparent;
background: #51A4FB; }
.btn.btn-primary-white:hover, .btn.btn-primary-white:focus, .btn.btn-primary-white:active {
  border: 2px solid #fff;
  background: none !important; }
.btn.btn-white {
position: relative;
color: #fff;
border: 2px solid #fff;
background: none; }
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
  border: 2px solid transparent;
  background: #51A4FB !important; }

  header .navbar .dropdown-menu .dropdown-item:hover {
    background: #51A4FB;
    color: #fff; }
  header .navbar .dropdown-menu .dropdown-item.active {
    background: #51A4FB;
    color: #fff; }

    .block-27 ul li.active a, .block-27 ul li.active span {
      background: #51A4FB;
      color: #fff;
      border: 1px solid transparent; }

   //login
   .form-wrap.login {
     width:400px;
    position: relative;
    margin-bottom: 3em;
    z-index: 2;
    padding: 18px;
    background: #fff !important;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
    color: dimgray !important;
    margin-top: 10px;
    line-height: 1.2;
    border-radius:4px;
    margin: 0 auto;
    padding:32px;
    width:550px;
}
.btn.btn-primary.float {
  float: right;
  color: #fff;
  border: 2px solid transparent;
}
//register
.form-wrap.register {
  
 position: relative;
 margin-bottom: 3em;
 z-index: 2;
 padding: 18px;
 background: #fff !important;
 box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
 margin-top: 10px;
 color: dimgray !important;
 line-height: 1.2;
 border-radius:4px;
 margin: 0 auto;
 padding:32px;
 width:550px;
}

.h2.register {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding:0px;
  margin-bottom:8px;
  font-size:32px;
}

.h4.register {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size:24px;
  
}
 .form-control.register {
  outline: none;
  box-shadow: none !important;
  border-radius: 4px;
}

label {
  font-size:16px;
  display: inline-block;
  margin-bottom: 8px;
  color:rgba(32, 32, 32,1);
}

.button.login{
   width:100%;
}

.left{
  text-align: left;
}

//contact us
.h1.contact{
  font-weight:800;
  color: rgba(32, 32, 32,1);
}

.p.register{
  font-weight: 700;
  font-size:20px;
  color:white;
  

}

.p.subhead{
  font-size:20px;
  font-weight:200;
  color:rgba(32, 32, 32,1);
}

.p.heading{
  font-size:38px;
  font-weight:700;
  color:rgba(32, 32, 32,1);
  margin:0;
}

.p.heading2{
  font-size:30px;
  font-weight:700;
  color:rgba(32, 32, 32,1);
 
}

.p.heading3{
  font-size:16px;
  font-weight:700;
  color:white;
 
}
//about us
.contentcenter{
  width: 70%;
  margin:auto;
  padding-bottom:16px;
}

.paddingbottom64{
  padding-bottom:64px;
}
.paddingtop64{
  padding-top:64px;
}

.paddingbottom32{
  padding-bottom:32px;
}
.h2.about {
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding:0px;
  margin-bottom:8px;
  font-size:32px;

}

.h2.about2 {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding:0px;
  margin-bottom:16px;
  font-size:34px;

}

.h2.aboutheader {
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding:0px;
  margin-bottom:8px;
  font-size:40px;

}


.block-22.about {
  background:black;
}

.picturesize{
  height:320px;
}


.padding88{
  padding-top:32px !important;
  padding-bottom:32px !important;
 
}

.block-3 .image {
 background-size:auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.p.about{
  font-size:18px;
  font-weight:200;
  color:rgba(32, 32, 32,1);
  line-height:1.8;
}
//change all text color
body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: rgba(32, 32, 32,1);
}


//teledental services page
.h1.services{
  font-weight:800;
  color: White
}

.paddingbottom16{
  padding-bottom:16px !important;
}

.block-26 {
  padding: 0px;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  float: left;
}

.block-26 ul li a {
  color: #fff;
  padding: 0 10px;
  border-radius: 4px;
  display: inline-block;
  background:#51A4FB;
}

.h2.treatment {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  padding:0px;
  margin-bottom:8px;
  font-size:24px;
}

//doctor dashboard
.form-wrap.boxshadow{
  box-shadow: 0px 5px 20px 0px;
}

.h2.dashboard {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  padding:0px;
  margin-bottom:8px;
  font-size:28px;
}