<head>
  <title>Findentist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">

  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
  <header role="banner">
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        
          <img style=" max-width:150px;
  height:auto;"src="images/logo/color.png" alt="Image placeholder" class="img-fluid">

        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
          <ul class="navbar-nav mx-auto" style="margin-right:200px !important">
              <a class="nav-link active" href="home.html">Home</a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="courses.html">Promotion</a>
                <a class="dropdown-item" href="courses.html">Teledental Services</a>
                <a class="dropdown-item" href="courses.html">Events</a>
                </div>

            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="about.html">Treatments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav absolute-right">
            <li>
              <a href="login.html">Login</a> / <a href="register.html">Register</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>
  <section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/background/b4.jpg);">
    <div class="container">
      <div class="row align-items-center justify-content-center site-hero-sm-inner">
        <div class="col-md-7 text-center">

          <div class="mb-5 element-animate">
            <h1 class="mb-2 h1 contact">About Us</h1>
            <p class="p register">Our mission is to help you find your suitable dentist!</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
    <!-- END section -->

    <section class="site-section element-animate">
      <div class="container">
       
          <div class="col-md-12">

            
              <div class="heading">
                <h2 class="text-center h2 register">Our History</h2><br>
              </div>
              
              <div class="text mb-5">
              <p  class="contentcenter p about">Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.
              </p>
              <p class="contentcenter p about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quaerat aliquid blanditiis eum asperiores obcaecati, id officiis voluptate sint est excepturi quam itaque dicta delectus. Consequuntur, blanditiis maxime? Cupiditate, cum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.
              </p>
              <p class="contentcenter p about">Porro cupiditate doloremque nihil architecto, id nisi tenetur obcaecati, harum nulla aut ipsam sunt ullam eos, ipsa odit voluptatibus veniam. Amet itaque incidunt cumque tenetur, omnis repellat non dolorem nostrum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.
              </p>
              
              </div>
           
            </div>

        
          
        </div>

      </div>
    </section>
    <!-- END section -->

   
    
    <div class="py-5 block-22 about">
      <div class="container text-center">
        <div class="row align-items-center paddingbottom64 paddingtop64">
          <div class="col-md-6 mb-4 mb-md-0 pr-md-5">
            <h2 class="heading h2 about paddingbottom32">Our Mission</h2>
            <p class="p heading3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium optio und. Nisi accusantium optio und.Nisi accusantium optio und. </p>
          </div>
          <div class="col-md-6">
            <h2 class="heading h2 about paddingbottom32">Our Vision</h2>
            <p class="p heading3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium optio und. Nisi accusantium optio und. Nisi accusantium optio und.</p>
          </div>
        </div>
        <div class="row align-items-center paddingbottom64 paddingtop64">
          <div class="col-md-6 mb-4 mb-md-0 pr-md-5">
            <h2 class="heading h2 about paddingbottom32">Our Promise</h2>
            <p class="p heading3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium optio und. Nisi accusantium optio und. Nisi accusantium optio und.</p>
          </div>
          <div class="col-md-6">
            <h2 class="heading h2 about paddingbottom32">Our Vibe</h2>
            <p class="p heading3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium optio und. Nisi accusantium optio und. Nisi accusantium optio und.</p>
          </div>
        </div>
      </div>
    </div>
<!-- end section -->
<div class="container site-section element-animate">
  <div class="row justify-content-center mb-4 element-animate">
      <div class="col-md-7 text-center section-heading">
        <h2 class="text-center h2 aboutheader">Why choose us?</h2>
        <p class="p about">We provide these services in our website.</p>
      </div>
    </div>
  <div class="block-3 d-md-flex">
    
    <div class="image picturesize" style="background-image: url('images/sample4.png'); "></div>
    <div class="text padding88">
      
      <h2 class="h2 about2">Featured Dentist Listing</h2>
      <p class="p about">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    </div>
  </div>
  <div class="block-3 d-md-flex">
    <div class="image picturesize order-2" style="background-image: url('images/sample2.png'); "></div>
    <div class="text order-1 padding88">
      
      <h2 class="h2 about2">Outstanding Teledental Services</h2>
      <p class="p about">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    </div>
  </div>
  <div class="block-3 d-md-flex">
    <div class="image picturesize" style="background-image: url('images/sample1.png'); "></div>
    <div class="text padding88">
      
      <h2 class="h2 about2">Excellent Search System</h2>
      <p class="p about">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    </div>
  </div>
</div>

<div class="py-5 block-22">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0 pr-md-5">
        <h2 class="heading">Subscribe to Us!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium optio und.</p>
      </div>
      <div class="col-md-6">
        <form action="#" class="subscribe">
          <div class="form-group">
            <input type="email" class="form-control email" placeholder="Enter email">
            <input type="submit" class="btn btn-primary submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- endcontent -->

    
  
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <h3>Findentist</h3>
            <p>Invisible Aligners</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <h3 class="heading">Quick Link</h3>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Pages</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li><a href="#">News</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Privacy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <h3 class="heading">Blog</h3>
            <div class="block-21 d-flex mb-4">
              <div class="text">
                <h3 class="heading mb-0"><a href="#">Consectetur Adipisicing Elit</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                  <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                  <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                </div>
              </div>
            </div>  
            <div class="block-21 d-flex mb-4">
              <div class="text">
                <h3 class="heading mb-0"><a href="#">Dolore Tempora Consequatur</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                  <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                  <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                </div>
              </div>
            </div>  
            <div class="block-21 d-flex mb-4">
              <div class="text">
                <h3 class="heading mb-0"><a href="#">Perferendis eum illum</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                  <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                  <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                </div>
              </div>
            </div>  
          </div>
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <h3 class="heading">Contact Information</h3>
            <div class="block-23">
              <ul>
                <li><span class="icon ion-android-pin"></span><span class="text">I-01-05, 5th Floor, Block I,
                  Setia Walk, Persiaran Wawasan, 
                  Pusat Bandar Puchong, 47160 Puchong,
                  Selangor Darul Ehsan, Malaysia
                  </span></li>
                <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+603-7625 9774</span></a></li>
                <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">care.my@clearsmile.asia</span></a></li>
                <li><span class="icon ion-android-time"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 text-center copyright">
            
            <p class="float-md-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <p class="float-md-right">
              <a href="#" class="fa fa-facebook p-2"></a>
              <a href="#" class="fa fa-twitter p-2"></a>
              <a href="#" class="fa fa-linkedin p-2"></a>
              <a href="#" class="fa fa-instagram p-2"></a>

            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>

